---
import SectionTitle from '../ui/section-title.astro';
import Cards from './cards.astro';
---

<section class="p-4">
  <SectionTitle>Projects</SectionTitle>
  <div data-reveal="fade-up" style="--reveal-delay: 650ms;">
    <Cards />
  </div>
</section>
