---
import { cn } from '@/lib/utils';

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div
  aria-hidden="true"
  class={cn(
    'pointer-events-none absolute inset-0 font-mono text-xs leading-none text-foreground/50 select-none',
    className,
  )}
>
  <span class="absolute top-[-0.4rem] left-[-0.3rem]">+</span>
  <span class="absolute top-[-0.4rem] right-[-0.3rem]">+</span>
  <span class="absolute bottom-[-0.4rem] left-[-0.3rem]">+</span>
  <span class="absolute bottom-[-0.4rem] right-[-0.3rem]">+</span>
</div>
