---
import { cn } from '@/lib/utils';

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div
  aria-hidden="true"
  class={cn('pointer-events-none absolute inset-0', className)}
>
  <span
    class="absolute -top-px -left-px size-2 border-t border-l border-foreground"
  ></span>
  <span
    class="absolute -top-px -right-px size-2 border-t border-r border-foreground"
  ></span>
  <span
    class="absolute -bottom-px -left-px size-2 border-b border-l border-foreground"
  ></span>
  <span
    class="absolute -bottom-px -right-px size-2 border-b border-r border-foreground"
  ></span>
</div>
